body { margin: 0; }
.panel {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow:hidden;
	overflow-y:auto;
}
#gauche { left: 0; right:50%;}


#droite {
	left: 50%;
	right:0;
	background: black;
	color:white;
}

.content { margin: 50px; }


/**
 * SCROLLPANE
 */
 .scroll-pane{width: 100%;height: 100%;overflow: auto;overflow-x:hidden; }
 .horizontal-only{height: auto;max-height: 200px;}
 /* si on veut avoir les 2 barres de scoll au centre remplacer droite par gauche si on les veux de chaque côté */
 #gauche .jspVerticalBar{left: 0;border-right: solid 1px black;}
 #gauche .jspTrack{background: black;}
 #gauche .jspDrag{background: white;}
 #droite .jspVerticalBar{border-left: solid 1px white;}
 #droite .jspTrack{background: white;}
 #droite .jspDrag{background: black;}
 .jspVerticalBar{width: 12px;}


/**
 * GLOBAL
 */


 .container{
 	margin: 40px;
 }

 h1
 {
 	font-family:PxGrotesk-Bold;
 	font-size:60px;
 	text-align:center;
 	line-height: 55px;	
 }	