body {
	margin: 0;
	font-family:PxGrotesk-Regular;
}


/* SÉLECTION TEXTE*/
::-moz-selection { /* Pour firefox */
background:blue;
color:white;
}
::selection { /* Pour les autres */
background: blue;
color:white;
}
	

.panel {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow:hidden;
	overflow-y:auto;
}
#gauche {
	left: 0;
	right:50%;
	z-index: 1;
}


#droite {
	left: 50%;right:0;
	background: #aaaaaa;
	color:white;z-index: 2;
}

.content { margin: 50px; }


/**
 * SCROLLPANE
 */
 .scroll-pane{width: 100%;height: 100%;overflow: auto;overflow-x:hidden; }
 .horizontal-only{height: auto;max-height: 200px;}
 /* si on veut avoir les 2 barres de scoll au centre remplacer droite par gauche si on les veux de chaque côté */
 #gauche .jspVerticalBar{left: 0;border-right: solid 2px #aaaaaa;}
 #gauche .jspTrack{background: #aaaaaa;}
 #gauche .jspDrag{background: white;}
 #droite .jspVerticalBar{border-left: solid 2px white;}
 #droite .jspTrack{background: white;}
 #droite .jspDrag{background: #aaaaaa;}
 .jspVerticalBar{width: 14px;}


/**
 * GLOBAL
 */


 .container{
 	margin: 30px;
 }


/**
 * GAUCHE
 */
 
 h1
 {
 	font-family:PxGrotesk-Regular;
 	font-size:50px;
 	text-align:center;
 	line-height: 52px;
	letter-spacing:3px;
	margin-bottom: 50px;	
 }	
 
.soustitre{
 	font-size:18px;
 	text-transform: uppercase;
	letter-spacing:2px;
}

/* réglages lien pour manifeste  */
.soustitre a:link {color: black ; text-decoration:none ;}
.soustitre a:hover {color: black ; text-decoration: none; border-bottom : 3px solid black;}
.soustitre a:visited {color: black;}

.menu{
 	font-size:18px;
	line-height:23px;
	margin-left:0px;
	max-width:500px;
}

/* réglages lien pour menu  */
.menu a:link {color: black ; text-decoration:none ;}
.menu a:hover {color: black ; text-decoration: none; border-bottom : 3px solid black;}
.menu a:visited {color: black;}

.sousmenu{
 	font-size:18px;
	line-height:23px;
	margin-left:35px;
	max-width:500px;
}

ul { 
	list-style-type: none; 
}

.textegauche{
 	font-size:18px;
	line-height:23px;
	margin-left:35px;
	max-width:500px;
}

.contact{
 	font-size:18px;
	line-height:23px;
	margin-left:35px;
	max-width:500px;
	margin-bottom:0px;
}

/* réglages lien pour contact mail  */
.contact a:link {color: black ; text-decoration:none ;}
.contact a:hover {color: black ; text-decoration: none; border-bottom : 3px solid black;}
.contact a:visited {color: black;}

.social{
 	font-size:14px;
	line-height:23px;
	max-width:500px;
	margin-left:35px;
	margin-bottom:20px;
	float:left;
}

/* réglages lien pour facebook et tumblr  */
.social a:link {color: black ; text-decoration:none; border : 2px solid black; padding: 1px 7px 2px 7px;}
.social a:hover {color: #aaaaaa ; text-decoration: none; border : 2px solid #aaaaaa; padding: 1px 7px 2px 7px;}
.social a:visited {color: black;}

#manifeste{
 	font-size:18px;
	line-height:22px;
 	width: 360px;
 	z-index: 3;
 	position: fixed;
 	background: white;
 	color: rgb(0,0,255);
 	border: solid 7px rgb(0,0,255);
 	padding: 20px;
}

#manifeste:hover{
	border-color:rgb(255,0,0);
	color:rgb(255,0,0);
}

#manifeste h2{
	margin: 0 0 1em;
	text-transform: uppercase;
}

#manifeste ol{
	margin: 0;
	margin-left:35px;
}

#manifeste ol li:last-child{
	margin-top:1em;
	list-style: none;
}

/**
 * DROITE
 */

.soustitredroite{
	color: black;
 	font-size:18px;
 	text-transform: uppercase;
	letter-spacing:2px;
}

.soustitredroite span{
border-bottom: 3px solid black;
}

.textedroite{
	color: black;
 	font-size:18px;
	line-height:23px;
	margin-left:45px;
	max-width:500px;
}

.legende{
	color:black;
 	font-size:14px;
	line-height:18px;
	margin-left:45px;
	max-width:500px;
}

.acheter{
 	font-size:14px;
	line-height:23px;
	margin-left:45px;
	max-width:500px;
	margin-bottom:50px;
}

.acheter a:link {color: black ; text-decoration:none; border : 2px solid black; padding: 1px 7px 2px 7px;}
.acheter a:hover {color: white ; text-decoration: none; border : 2px solid white; padding: 1px 7px 2px 7px;}
.acheter a:visited {color: black;}


.projet{
	max-width: 494px;
	margin-left: 45px;
}

.projet img{
	width:100%;
	height: auto;
}
div.bxslider,  div.slide{
	margin:0;
	padding: 0;
}

.droits{
	color:white;
 	font-size:14px;
	text-align:center;
	line-height:18px;
	max-width:500px;
	margin-top:20px;
	margin-bottom:20px;
}